/* The sidebar menu */
.sidenav {
    height: auto; /* Full-height: remove this if you want "auto" height */
    width: 20%; /* Set the width of the sidebar */
    position: fixed; /* Fixed Sidebar (stay in place on scroll) */
    z-index: 1; /* Stay on top */
    border-radius: 2%;
    //top: 0; /* Stay at the top */
    //left: 0;
    background-color: #e2e2e2; /* Black */
    overflow-x: hidden; /* Disable horizontal scroll */
    //padding-top: 20px;

    /* The navigation menu links */
    a {
        padding: 6px 8px 6px 16px;
        text-decoration: none;
        font-size: 25px;
        color: #111;
        display: block;

    }

    /* When you mouse over the navigation links, change their color */
    a:hover {
        color: #ffffff;
    }
    a:active {
        background-color: #111;
        color: #e2e2e2;
    }
}
