// Fonts
@import url("https://fonts.googleapis.com/css?family=Nunito");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
// Bootstrap
@import "~bootstrap/scss/bootstrap";
//Pretty Checkboxes
@import '~pretty-checkbox/src/pretty-checkbox.scss';

// Variables
@import "accountOptions";
@import "autoload";
@import "creditCardForm";
@import "variables";
@import "wishList";
@import "login";

// Main rules
html,
body {
    color: #636b6f;
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    height: 100vh;
    margin: 0;
}

body{
    background-color: #63a0ff1a;
}

.full-height {
    height: 100vh;
}

.flex-center {
    align-items: center;
    display: flex;
    justify-content: center;
}

.position-ref {
    position: relative;
}

.toolbar {
    & > * {
        margin-left: 10px;
    }
    .btn-toolbar {
        margin-bottom: auto;
        margin-top: auto;
        height: 60px;
        background-color: #0b0201;
        border-radius: 30px;
        padding: 10px;
        transition: all 500ms cubic-bezier(0.68, -0.1, 0.265, 1.55);
        .icon-toolbar {
            height: 40px;
            width: 40px;
            float: right;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 50%;
            color: white;
            text-decoration: none !important;
        }
    }
}

.top-right {
    position: absolute;
    right: 10px;
    top: 18px;
}

.content {
    text-align: center;
}

.title {
    font-size: 84px;
}

.links > a {
    color: #636b6f;
    padding: 0 25px;
    font-size: 13px;
    font-weight: 600;
    letter-spacing: 0.1rem;
    text-decoration: none;
    text-transform: uppercase;
}

.m-b-md {
    margin-bottom: 30px;
}

.brand-text {
    font-weight: 700;
    color: #3b3b3b;
}

.main-navbar {
    background-color: #fff;
    padding: 2rem 5rem 2rem 5rem;

    .navbar-toggler {
        border-color: transparent;
    }
}

.categories-list-title {
    color: #000;
}

.list-group-item {
    padding: 0.5rem 0rem;
    background-color: #fff0;
    border: 1px solid rgba(0, 0, 0, 0);
    border-top-width: 1px;
    font-weight: 400;
    font-size: 14px;
}

.card {
    border-radius: 1.25rem;
}

.category-img {
    position: absolute;
    height: 120%;
    bottom: 0;
    left: 50%;
}

.btn-primary {
    background-color: $purple;
    border-color: $purple;
    transition: all 300ms cubic-bezier(0.68, -0.1, 0.265, 1.55);
    
    &:hover, &:focus, &:not(:disabled):not(.disabled):active{
        background-color:$hover-purple;
        border-color: $purple;
        padding: 0.65rem 0.75rem;
        border-radius: 1.25rem;
        width: 80%;
    }
}

.btn-link {
    color: $purple;
}

.btn-dark {
    background-color: #000 !important;
    border-color: white !important;
}

.banner {
    background-size: cover;
    background-image: url("https://images.unsplash.com/photo-1568781269551-3e3baf5ec909?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80");
}


