.searchbar {
    margin-bottom: auto;
    margin-top: auto;
    height: 60px;
    background-color: #0b0201;
    border-radius: 30px;
    padding: 10px;
    transition: all 500ms cubic-bezier(0.68, -0.1, 0.265, 1.55);

    .search_input {
        color: white;
        border: 0;
        outline: 0;
        background: none;
        width: 0;
        caret-color: transparent;
        line-height: 40px;
        transition: all 500ms cubic-bezier(0.68, -0.1, 0.265, 1.55);
    }

    .search_icon {
        height: 40px;
        width: 40px;
        float: right;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        color: white;
        text-decoration: none !important;
    }
}

.searchbar:hover, .searchbar:focus {
    border-radius: 12px;

    .search_input {
        padding: 0 10px;
        width: 450px;
        caret-color: red;
    }
    
    .search_icon {
        background: white;
        color: #e74c3c;
    }
}

